@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size-adjust: from-font;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ol ol {
  list-style: lower-alpha;
}
code {
  border: 1px solid color-mix(in srgb, currentColor 50%, transparent);
  padding: 0 0.2em;
  border-radius: 0.2em;
}
img,
video,
iframe {
  max-width: 100%;
}
iframe {
  border: none;
}
iframe:not([width]):not([height]) {
  aspect-ratio: 16 / 9;
  width: 100%;
}
[data-footnote-ref] {
  user-select: none;
}
blockquote {
  border-left: 5px solid currentColor;
  margin-left: 0;
  padding-left: 1em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
}
.gallery figure {
  margin: 0;
}
