:root {
  color-scheme: dark;
}
body {
  font-family: "Inter", sans-serif;
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
  background-color: #09090b;
}
h1,
h2,
p,
ul,
ol {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
}
.content a {
  color: #38bdf8;
}
.content a:hover {
  text-decoration: underline;
}
h2 {
  align-self: flex-start;
  position: relative;
  line-height: 1;
  font-family: "Bebas Neue", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  padding-left: 135px;
  margin: 40px 0;
  margin-left: 15px;
}
h2::before {
  content: "";
  position: absolute;
  inset: -10px -40px;
  transform: perspective(500px) rotateX(-20deg) rotateY(2deg);
  transition: transform 0.5s;
  background-color: red;
  z-index: -1;
}
h2::after {
  content: attr(data-char);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(5deg);
  left: -20px;
  background-color: darkred;
  width: 150px;
  height: 150px;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-style: normal;
  clip-path: polygon(85% 0, 100% 85%, 15% 100%, 0 15%);
}
.content > ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: question;
}
.content > ol > li {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.question {
  counter-increment: question;
  display: flex;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  border-top-left-radius: 0;
  margin-right: 40px;
  max-width: 800px;
}
.question::before {
  content: "#" counter(question);
  font-family: "Bebas Neue", sans-serif;
  font-style: italic;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1;
}
.content > ol > li > p:not(.question):not(.has-name),
.content table {
  margin: 0 40px;
}
.content > img {
  max-width: 100%;
  margin: 0 40px;
  border-radius: 20px;
  object-fit: cover;
}
#concept {
  aspect-ratio: 3.5 / 1;
}
#timeline {
  aspect-ratio: 5 / 1;
}
.content > ol > li > ol,
.content > ol > li > ul {
  margin: -10px 40px;
}
.content li li p,
.content li li p {
  margin: 10px 0;
}
.content table {
  border-collapse: collapse;
}
.content th,
.content td {
  border: 1px solid #3f3f46;
  padding: 5px 10px;
}
.content thead,
.content tfoot {
  background-color: rgba(255, 255, 255, 0.05);
}
.has-name {
  --color: white;
  position: relative;
  background-color: color-mix(in srgb, var(--color) 10%, transparent);
  padding: 20px;
  border-radius: 20px;
  border-top-right-radius: 0;
  align-self: flex-end;
  margin-left: 40px;
  max-width: 800px;
  margin-bottom: 15px;
}
.has-name::after {
  content: attr(data-name);
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--color);
  color: black;
  height: 30px;
  position: absolute;
  right: 30px;
  bottom: -15px;
}
.name {
  position: absolute;
  pointer-events: none;
  color: transparent;
  font-size: 1px;
  top: 0;
}
[data-name="Sean"] {
  --color: #eab308;
}
[data-name="Kenzo"] {
  --color: #22c55e;
}
[data-name="Tyler"] {
  --color: #0ea5e9;
}
[data-name="Killian"] {
  --color: #a855f7;
}
[data-name="Will"] {
  --color: #f43f5e;
}

@media (max-width: 600px) {
  h2 {
    align-self: stretch;
    margin-left: 0;
  }
  h2::before {
    transform: none;
    inset: -10px -20px;
  }
  .content > ol > li > p:not(.question):not(.has-name),
  .content table,
  .content > img,
  .content > ol > li > ol,
  .content > ol > li > ul,
  .screenshots {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .question {
    margin-right: 0;
  }
  .has-name {
    margin-left: 0;
  }
}

.screenshots {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 20px;
  margin: 0 40px;
}
.screenshots img {
  width: 0;
  flex-basis: 350px;
  flex-grow: 1;
  aspect-ratio: 1920 / 1080;
  object-fit: cover;
}

.home {
  align-self: flex-start;
}
